* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red-hl: hsl(0, 78%, 62%);
    --cyan-hl: hsl(180, 62%, 55%);
    --orange-hl: hsl(34, 97%, 64%);
    --blue-hl: hsl(212, 86%, 64%);
    --body-bg: hsl(0, 0%, 98%);
    --text-cl-light: hsl(229, 6%, 66%);
    --text-cl-dark: hsl(234, 12%, 34%);
}

/* TYPOGRAPHY */

.title {
    font-size: 1.5rem;
    color: var(--text-cl-dark);
}

.title-One {
    font-weight: 200;
}

.title-Two {
    font-weight: 600;
}

.heading>p {
    color: var(--text-cl-light);
    font-size: 0.95rem;
    font-weight: 400;
}

.card>h2 {
    color: var(--text-cl-dark);
    font-size: 1.25rem;
    font-weight: 600;
}

.card>p {
    color: var(--text-cl-light);
    font-size: 0.85rem;
    font-weight: 400;
}

/* LAYOUT */

body {
    background-color: var(--body-bg);
    padding: 2rem;
    text-align: center;
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

br {
    display: none;
}

.title-One {
    padding-top: 3rem;
}

.title-Two {
    padding-bottom: 1rem;
}

.heading>p {
    padding-bottom: 4rem;
}

.card {
    padding: 1rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
    text-align: left;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    border-radius: 0.50em;
    box-shadow: 0 10px 20px rgba(33, 70, 96, 0.25);
    padding-bottom: 1rem;
}

.card>h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}

.card>p {
    grid-column: 1/2;
    grid-row: 2/3;
}

.card>img {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: flex-end;
    align-self: center;
    padding: 1rem;
}

.card-Super {
    border-top: 4px solid var(--cyan-hl);
}

.card-Team {
    border-top: 4px solid var(--red-hl);
}

.card-Karma {
    border-top: 4px solid var(--orange-hl);
}

.card-Calc {
    border-top: 4px solid var(--blue-hl);
    margin-bottom: 3rem;
}

@media all and (min-width: 376px) {

    /* TYPOGRAPHY */

    .title {
        font-size: 2.23rem;
    }

    .heading>p {
        font-size: 0.90rem;
        font-weight: 400;
    }

    /* LAYOUT */

    main {
        display: grid;
        grid-template-rows: 20% 80%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 0;
        min-height: 100vh;
        width: 100vw;
        padding: 0 6rem 0 6rem;
    }

    .heading {
        grid-row: 1/2;
        grid-column: 1/4;
        padding: 0 19rem 0 19rem;
    }

    .heading>p {
        padding-bottom: 9rem;
    }

    .title-One {
        padding-top: 1rem;
    }

    .card {
        grid-row: 2/3;
        height: 15.75rem;
        margin-bottom: 0;
    }

    .card-Super {
        grid-column: 1/2;
        align-self: center;
    }

    .card-Karma {
        grid-column: 2/3;
        align-self: center;
    }

    .card-Team {
        grid-column: 2/3;
        align-self: center;
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .card-Calc {
        grid-column: 3/4;
        align-self: center;
    }
}